scripts/n8n-import-workflow.json
{
  "name": "Nozomi LMS - Course Import (Opus)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nozomi-import-course",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1000001-0001-0001-0001-000000000001",
      "name": "Course Import Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "nozomi-import-course"
    },
    {
      "parameters": {
        "jsCode": "const axios = require('axios');\n\nconst input = $input.first().json;\nconst body = input.body || input;\nlet content = body.content || '';\nconst googleDocUrl = body.googleDocUrl || '';\nconst pdfBase64 = body.pdfBase64 || '';\nconst pdfFileName = body.pdfFileName || 'document.pdf';\nconst courseTitle = body.courseTitle || 'Untitled Course';\nconst courseDescription = body.courseDescription || '';\n\nconst ANTHROPIC_KEY = process.env.ANTHROPIC_API_KEY || 'YOUR_KEY';\nconst SUPABASE_URL = 'https://lxgethcibldfcnmajutf.supabase.co';\nconst SUPABASE_KEY = process.env.SUPABASE_SERVICE_ROLE_KEY || 'YOUR_KEY';\n\nconst systemPrompt = 'You are an expert course designer for a premium LMS platform. Your job is to transform raw content into beautifully structured, pedagogically sound course material.\\n\\nYou MUST return ONLY valid JSON — no markdown fences, no explanation, no text outside the JSON.\\n\\nJSON structure:\\n{\\n  \"title\": \"course title\",\\n  \"description\": \"2-3 sentence course description\",\\n  \"modules\": [\\n    {\\n      \"title\": \"Module Title\",\\n      \"description\": \"Brief module description\",\\n      \"sections\": [\\n        {\\n          \"title\": \"Section Title\",\\n          \"blocks\": [\\n            { \"type\": \"block_type\", \"content\": { ... } }\\n          ]\\n        }\\n      ]\\n    }\\n  ]\\n}\\n\\nAvailable block types:\\n\\n1. rich_text — For prose, explanations, instructions\\n   { \"html\": \"<p>Content</p>\" }\\n   Use <h2> for section headings, <h3> for sub-headings, <p> for paragraphs, <ul>/<li> for bullets, <ol>/<li> for numbered lists. Keep paragraphs focused — break long text into multiple rich_text blocks.\\n\\n2. callout — For highlighted information boxes\\n   { \"calloutType\": \"tip|warning|formula|key-insight\", \"title\": \"Title\", \"body\": \"<p>HTML body</p>\" }\\n   tip: helpful advice. warning: critical warnings. formula: rules/frameworks. key-insight: key takeaways.\\n\\n3. table — For structured/tabular data\\n   { \"rows\": [[\"Header1\",\"Header2\"],[\"Cell1\",\"Cell2\"]] } First row is header.\\n\\n4. workbook_prompt — For exercises, reflection questions\\n   { \"label\": \"Question\", \"placeholder\": \"Guide text...\" } Use generously for engagement.\\n\\n5. checklist — For action items\\n   { \"title\": \"Title\", \"description\": \"Optional\", \"items\": [\"Item 1\"] }\\n\\n6. video — { \"url\": \"https://...\" }\\n\\n7. file — { \"label\": \"Desc\", \"fileUrl\": \"\", \"fileName\": \"\" }\\n\\nRules:\\n- NEVER summarize or skip content. Include EVERYTHING.\\n- Use callouts liberally for key insights, tips, warnings, formulas.\\n- Add workbook_prompt blocks for exercises and reflection.\\n- Break long text into digestible rich_text blocks.\\n- Use tables for tabular data.\\n- Each distinct topic = its own section.\\n- Sections should have 3-10 blocks for good pacing.\\n- Make it feel like a premium, professionally designed course.\\n- Ensure the JSON is complete and valid.';\n\ntry {\n  let claudeMessages;\n\n  if (googleDocUrl.trim()) {\n    const docIdMatch = googleDocUrl.match(/\\/d\\/([a-zA-Z0-9_-]+)/);\n    if (!docIdMatch) {\n      return [{ json: { success: false, error: 'Invalid Google Doc URL.' } }];\n    }\n    const exportUrl = 'https://docs.google.com/document/d/' + docIdMatch[1] + '/export?format=txt';\n    const docRes = await axios.get(exportUrl, { maxRedirects: 5, responseType: 'text' });\n    content = docRes.data;\n    if (!content || !content.trim()) {\n      return [{ json: { success: false, error: 'Google Doc is empty. Make sure it is shared with Anyone with the link.' } }];\n    }\n    claudeMessages = [{ role: 'user', content: 'Parse this course content into structured LMS JSON.\\nCourse title: \"' + courseTitle + '\"\\n' + (courseDescription ? 'Description: ' + courseDescription + '\\n' : '') + '\\nContent:\\n\\n' + content }];\n\n  } else if (pdfBase64.trim()) {\n    claudeMessages = [{ role: 'user', content: [{ type: 'document', source: { type: 'base64', media_type: 'application/pdf', data: pdfBase64 } }, { type: 'text', text: 'Parse this PDF into structured LMS course JSON.\\nCourse title: \"' + courseTitle + '\"\\n' + (courseDescription ? 'Description: ' + courseDescription : '') + '\\nExtract ALL content. Do not skip or summarize anything.' }] }];\n\n  } else if (content.trim()) {\n    claudeMessages = [{ role: 'user', content: 'Parse this course content into structured LMS JSON.\\nCourse title: \"' + courseTitle + '\"\\n' + (courseDescription ? 'Description: ' + courseDescription + '\\n' : '') + '\\nContent:\\n\\n' + content }];\n\n  } else {\n    return [{ json: { success: false, error: 'No content provided.' } }];\n  }\n\n  const claudeRes = await axios.post('https://api.anthropic.com/v1/messages', {\n    model: 'claude-opus-4-20250514',\n    max_tokens: 32000,\n    system: systemPrompt,\n    messages: claudeMessages,\n  }, {\n    headers: {\n      'x-api-key': ANTHROPIC_KEY,\n      'anthropic-version': '2023-06-01',\n      'content-type': 'application/json',\n    },\n    timeout: 300000,\n  });\n\n  const claudeData = claudeRes.data;\n  if (claudeData.error) {\n    return [{ json: { success: false, error: 'Claude API error: ' + claudeData.error.message } }];\n  }\n\n  let responseText = claudeData.content[0].text;\n  responseText = responseText.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```\\s*$/i, '').trim();\n\n  let parsed;\n  try {\n    parsed = JSON.parse(responseText);\n  } catch (e) {\n    const jsonMatch = responseText.match(/\\{[\\s\\S]*\\}/);\n    if (jsonMatch) {\n      try { parsed = JSON.parse(jsonMatch[0]); } catch (e2) {\n        return [{ json: { success: false, error: 'Failed to parse JSON', raw: responseText.substring(0, 500) } }];\n      }\n    } else {\n      return [{ json: { success: false, error: 'No JSON in response', raw: responseText.substring(0, 500) } }];\n    }\n  }\n\n  async function dbInsert(table, data) {\n    const res = await axios.post(SUPABASE_URL + '/rest/v1/' + table, data, {\n      headers: {\n        'apikey': SUPABASE_KEY,\n        'Authorization': 'Bearer ' + SUPABASE_KEY,\n        'Content-Type': 'application/json',\n        'Prefer': 'return=representation',\n      },\n    });\n    return Array.isArray(res.data) ? res.data[0] : res.data;\n  }\n\n  const course = await dbInsert('courses', {\n    title: parsed.title || courseTitle,\n    description: parsed.description || courseDescription || null,\n    status: 'draft',\n    sort_order: 0,\n  });\n\n  if (!course || !course.id) {\n    return [{ json: { success: false, error: 'Failed to create course', detail: JSON.stringify(course) } }];\n  }\n\n  let totalModules = 0, totalSections = 0, totalBlocks = 0;\n\n  for (let mi = 0; mi < (parsed.modules || []).length; mi++) {\n    const mod = parsed.modules[mi];\n    const module = await dbInsert('modules', {\n      course_id: course.id,\n      title: mod.title,\n      description: mod.description || null,\n      sort_order: mi,\n    });\n    totalModules++;\n    if (!module || !module.id) continue;\n\n    for (let si = 0; si < (mod.sections || []).length; si++) {\n      const sec = mod.sections[si];\n      const section = await dbInsert('sections', {\n        module_id: module.id,\n        title: sec.title,\n        sort_order: si,\n      });\n      totalSections++;\n      if (!section || !section.id) continue;\n\n      const blocks = (sec.blocks || []).map((b, bi) => ({\n        section_id: section.id,\n        type: b.type,\n        content: b.content,\n        sort_order: bi,\n      }));\n\n      if (blocks.length > 0) {\n        const batchRes = await axios.post(SUPABASE_URL + '/rest/v1/content_blocks', blocks, {\n          headers: {\n            'apikey': SUPABASE_KEY,\n            'Authorization': 'Bearer ' + SUPABASE_KEY,\n            'Content-Type': 'application/json',\n            'Prefer': 'return=representation',\n          },\n        });\n        totalBlocks += Array.isArray(batchRes.data) ? batchRes.data.length : 1;\n      }\n    }\n  }\n\n  return [{\n    json: {\n      success: true,\n      courseId: course.id,\n      courseTitle: course.title,\n      modulesCreated: totalModules,\n      sectionsCreated: totalSections,\n      blocksCreated: totalBlocks,\n      message: 'Course \"' + course.title + '\" imported with ' + totalModules + ' modules, ' + totalSections + ' sections, and ' + totalBlocks + ' content blocks.',\n    }\n  }];\n} catch (err) {\n  const msg = err.response ? JSON.stringify(err.response.data).substring(0, 500) : (err.message || 'Unknown error');\n  return [{ json: { success: false, error: msg } }];\n}"
      },
      "id": "a1000001-0001-0001-0001-000000000002",
      "name": "Parse & Build Course",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "a1000001-0001-0001-0001-000000000003",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [750, 300]
    }
  ],
  "connections": {
    "Course Import Webhook": {
      "main": [[{ "node": "Parse & Build Course", "type": "main", "index": 0 }]]
    },
    "Parse & Build Course": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
