scripts/n8n-import-workflow.json
{
  "name": "Nozomi LMS - Course Import (Opus)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nozomi-import-course",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1000001-0001-0001-0001-000000000001",
      "name": "Course Import Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "nozomi-import-course"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst body = input.body || input;\nlet content = body.content || '';\nconst googleDocUrl = body.googleDocUrl || '';\nconst pdfBase64 = body.pdfBase64 || '';\nconst pdfFileName = body.pdfFileName || 'document.pdf';\nconst courseTitle = body.courseTitle || 'Untitled Course';\nconst courseDescription = body.courseDescription || '';\n\nconst ANTHROPIC_KEY = process.env.ANTHROPIC_API_KEY || 'YOUR_ANTHROPIC_KEY';\nconst SUPABASE_URL = 'https://lxgethcibldfcnmajutf.supabase.co';\nconst SUPABASE_KEY = process.env.SUPABASE_SERVICE_ROLE_KEY || 'YOUR_SUPABASE_SERVICE_KEY';\n\nconst systemPrompt = `You are an expert course designer for a premium LMS platform. Your job is to transform raw content into beautifully structured, pedagogically sound course material.\n\nYou MUST return ONLY valid JSON \\u2014 no markdown fences, no explanation, no text outside the JSON.\n\nJSON structure:\n{\n  \"title\": \"course title\",\n  \"description\": \"2-3 sentence course description\",\n  \"modules\": [\n    {\n      \"title\": \"Module Title\",\n      \"description\": \"Brief module description\",\n      \"sections\": [\n        {\n          \"title\": \"Section Title\",\n          \"blocks\": [\n            { \"type\": \"block_type\", \"content\": { ... } }\n          ]\n        }\n      ]\n    }\n  ]\n}\n\nAvailable block types:\n\n1. rich_text \\u2014 For prose, explanations, instructions\n   { \"html\": \"<p>Content with <strong>bold</strong>, <em>italic</em></p>\" }\n   Use <h2> for section headings, <h3> for sub-headings, <p> for paragraphs,\n   <ul>/<li> for bullets, <ol>/<li> for numbered lists.\n   Keep paragraphs focused \\u2014 break long text into multiple rich_text blocks.\n\n2. callout \\u2014 For highlighted information boxes\n   { \"calloutType\": \"tip|warning|formula|key-insight\", \"title\": \"Title\", \"body\": \"<p>HTML body</p>\" }\n   - tip: helpful advice, pro tips, best practices\n   - warning: critical warnings, common mistakes, pitfalls\n   - formula: rules, formulas, frameworks, principles\n   - key-insight: key takeaways, important conclusions, aha moments\n\n3. table \\u2014 For structured/tabular data\n   { \"rows\": [[\"Header1\",\"Header2\"],[\"Cell1\",\"Cell2\"]] }\n   First row is always the header row.\n\n4. workbook_prompt \\u2014 For exercises, reflection questions, student input\n   { \"label\": \"Question or prompt text\", \"placeholder\": \"Guide text for what to write...\" }\n   Use these generously \\u2014 they drive engagement and learning retention.\n\n5. checklist \\u2014 For action items, deliverable lists\n   { \"title\": \"Checklist Title\", \"description\": \"Optional description\", \"items\": [\"Item 1\", \"Item 2\"] }\n\n6. video \\u2014 For video embeds\n   { \"url\": \"https://...\" }\n\n7. file \\u2014 For downloadable resources\n   { \"label\": \"Description\", \"fileUrl\": \"\", \"fileName\": \"\" }\n\nCritical rules:\n- NEVER summarize or skip content. Include EVERYTHING from the source.\n- Transform flat content into a rich, engaging learning experience.\n- Use callouts liberally for key insights, tips, warnings, and formulas.\n- Add workbook_prompt blocks for exercises, reflection questions, and \"apply this\" moments.\n- Break long text walls into digestible rich_text blocks with clear headings.\n- Use tables whenever data can be presented in tabular format.\n- Each distinct topic should be its own section.\n- Sections should have 3-10 blocks each for good pacing.\n- Module descriptions should explain what the learner will achieve.\n- Make it feel like a premium, professionally designed course.\n- Ensure the JSON is complete and valid.`;\n\ntry {\n  // STEP 1: Resolve content from the appropriate source\n  let claudeMessages;\n\n  if (googleDocUrl.trim()) {\n    // Google Doc mode\n    const docIdMatch = googleDocUrl.match(/\\/d\\/([a-zA-Z0-9_-]+)/);\n    if (!docIdMatch) {\n      return [{ json: { success: false, error: 'Invalid Google Doc URL. Expected format: https://docs.google.com/document/d/DOC_ID/...' } }];\n    }\n    const docId = docIdMatch[1];\n    const exportUrl = 'https://docs.google.com/document/d/' + docId + '/export?format=txt';\n\n    const docRes = await fetch(exportUrl, { redirect: 'follow' });\n    if (!docRes.ok) {\n      return [{ json: { success: false, error: 'Failed to fetch Google Doc (HTTP ' + docRes.status + '). Make sure the document is shared with Anyone with the link.' } }];\n    }\n    content = await docRes.text();\n    if (!content.trim()) {\n      return [{ json: { success: false, error: 'Google Doc appears to be empty.' } }];\n    }\n\n    claudeMessages = [{\n      role: 'user',\n      content: 'Parse this course content into structured LMS JSON.\\nCourse title: \"' + courseTitle + '\"\\n' + (courseDescription ? 'Description: ' + courseDescription + '\\n' : '') + '\\nContent:\\n\\n' + content\n    }];\n\n  } else if (pdfBase64.trim()) {\n    // PDF mode \\u2014 send the PDF directly to Claude as a document\n    claudeMessages = [{\n      role: 'user',\n      content: [\n        {\n          type: 'document',\n          source: {\n            type: 'base64',\n            media_type: 'application/pdf',\n            data: pdfBase64\n          }\n        },\n        {\n          type: 'text',\n          text: 'Parse this PDF document into structured LMS course JSON.\\nCourse title: \"' + courseTitle + '\"\\n' + (courseDescription ? 'Description: ' + courseDescription : '') + '\\n\\nExtract ALL content from the PDF and structure it into modules, sections, and content blocks. Do not skip or summarize anything.'\n        }\n      ]\n    }];\n\n  } else if (content.trim()) {\n    // Paste mode\n    claudeMessages = [{\n      role: 'user',\n      content: 'Parse this course content into structured LMS JSON.\\nCourse title: \"' + courseTitle + '\"\\n' + (courseDescription ? 'Description: ' + courseDescription + '\\n' : '') + '\\nContent:\\n\\n' + content\n    }];\n\n  } else {\n    return [{ json: { success: false, error: 'No content provided. Paste text, provide a Google Doc URL, or upload a PDF.' } }];\n  }\n\n  // STEP 2: Call Claude Opus\n  const claudeRes = await fetch('https://api.anthropic.com/v1/messages', {\n    method: 'POST',\n    headers: {\n      'x-api-key': ANTHROPIC_KEY,\n      'anthropic-version': '2023-06-01',\n      'content-type': 'application/json',\n    },\n    body: JSON.stringify({\n      model: 'claude-opus-4-20250514',\n      max_tokens: 32000,\n      system: systemPrompt,\n      messages: claudeMessages,\n    }),\n  });\n\n  const claudeData = await claudeRes.json();\n\n  if (claudeData.error) {\n    return [{ json: { success: false, error: 'Claude API error: ' + claudeData.error.message } }];\n  }\n\n  // STEP 3: Parse the structured response\n  let responseText = claudeData.content[0].text;\n  responseText = responseText.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```\\s*$/i, '').trim();\n\n  let parsed;\n  try {\n    parsed = JSON.parse(responseText);\n  } catch (e) {\n    const jsonMatch = responseText.match(/\\{[\\s\\S]*\\}/);\n    if (jsonMatch) {\n      try {\n        parsed = JSON.parse(jsonMatch[0]);\n      } catch (e2) {\n        return [{ json: { success: false, error: 'Failed to parse Claude response as JSON', raw: responseText.substring(0, 1000) } }];\n      }\n    } else {\n      return [{ json: { success: false, error: 'No JSON found in Claude response', raw: responseText.substring(0, 1000) } }];\n    }\n  }\n\n  // STEP 4: Insert everything into Supabase\n  async function dbInsert(table, data) {\n    const res = await fetch(SUPABASE_URL + '/rest/v1/' + table, {\n      method: 'POST',\n      headers: {\n        'apikey': SUPABASE_KEY,\n        'Authorization': 'Bearer ' + SUPABASE_KEY,\n        'Content-Type': 'application/json',\n        'Prefer': 'return=representation',\n      },\n      body: JSON.stringify(data),\n    });\n    const result = await res.json();\n    return Array.isArray(result) ? result[0] : result;\n  }\n\n  const course = await dbInsert('courses', {\n    title: parsed.title || courseTitle,\n    description: parsed.description || courseDescription || null,\n    status: 'draft',\n    sort_order: 0,\n  });\n\n  if (!course || !course.id) {\n    return [{ json: { success: false, error: 'Failed to create course in database', detail: JSON.stringify(course) } }];\n  }\n\n  let totalModules = 0;\n  let totalSections = 0;\n  let totalBlocks = 0;\n\n  for (let mi = 0; mi < (parsed.modules || []).length; mi++) {\n    const mod = parsed.modules[mi];\n    const module = await dbInsert('modules', {\n      course_id: course.id,\n      title: mod.title,\n      description: mod.description || null,\n      sort_order: mi,\n    });\n    totalModules++;\n\n    if (!module || !module.id) continue;\n\n    for (let si = 0; si < (mod.sections || []).length; si++) {\n      const sec = mod.sections[si];\n      const section = await dbInsert('sections', {\n        module_id: module.id,\n        title: sec.title,\n        sort_order: si,\n      });\n      totalSections++;\n\n      if (!section || !section.id) continue;\n\n      const blocks = (sec.blocks || []).map((b, bi) => ({\n        section_id: section.id,\n        type: b.type,\n        content: b.content,\n        sort_order: bi,\n      }));\n\n      if (blocks.length > 0) {\n        const batchRes = await fetch(SUPABASE_URL + '/rest/v1/content_blocks', {\n          method: 'POST',\n          headers: {\n            'apikey': SUPABASE_KEY,\n            'Authorization': 'Bearer ' + SUPABASE_KEY,\n            'Content-Type': 'application/json',\n            'Prefer': 'return=representation',\n          },\n          body: JSON.stringify(blocks),\n        });\n        const inserted = await batchRes.json();\n        totalBlocks += Array.isArray(inserted) ? inserted.length : 1;\n      }\n    }\n  }\n\n  return [{\n    json: {\n      success: true,\n      courseId: course.id,\n      courseTitle: course.title,\n      modulesCreated: totalModules,\n      sectionsCreated: totalSections,\n      blocksCreated: totalBlocks,\n      message: 'Course \"' + course.title + '\" imported with ' + totalModules + ' modules, ' + totalSections + ' sections, and ' + totalBlocks + ' content blocks.',\n    }\n  }];\n} catch (err) {\n  return [{ json: { success: false, error: err.message || 'Unknown error during import' } }];\n}"
      },
      "id": "a1000001-0001-0001-0001-000000000002",
      "name": "Parse & Build Course",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "a1000001-0001-0001-0001-000000000003",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [750, 300]
    }
  ],
  "connections": {
    "Course Import Webhook": {
      "main": [[{ "node": "Parse & Build Course", "type": "main", "index": 0 }]]
    },
    "Parse & Build Course": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
